<font size = 8, color = teal> Recap

<font size = 6, color = blue> Methods (are built in functions)

In [1]:
mylist1 = [1,2,3,4,5]

### Append

In [2]:
mylist1.append(6)

In [3]:
mylist1

[1, 2, 3, 4, 5, 6]

### Pop

In [11]:
mylist1.pop()

5

In [5]:
mylist1

[1, 2, 3, 4, 5]

In [6]:
help(mylist1.clear)

Help on built-in function clear:

clear() method of builtins.list instance
    Remove all items from list.

### Clear

In [8]:
mylist1.clear()

In [9]:
mylist1

[]

In [16]:
mylist1 = [1,2,3,4,5]

### Copy

In [12]:
help(mylist1.copy)

Help on built-in function copy:

copy() method of builtins.list instance
    Return a shallow copy of the list.

In [17]:
# mylist2 = []
mylist1.copy()

[1, 2, 3, 4, 5]

In [18]:
mylist2 = mylist1.copy()

In [19]:
mylist2

[1, 2, 3, 4, 5]

### Count

In [23]:
mylist2 = [1,1,1,2,2,3,3,3,3,4,5,6]

In [20]:
help(mylist1.count)

Help on built-in function count:

count(value, /) method of builtins.list instance
    Return number of occurrences of value.

In [26]:
mylist2.count(1)

3

### Extend

In [27]:
help(mylist2.extend)

Help on built-in function extend:

extend(iterable, /) method of builtins.list instance
    Extend list by appending elements from the iterable.

In [28]:
mylist1.extend(mylist2)

In [29]:
mylist1

[1, 2, 3, 4, 5, 1, 1, 1, 2, 2, 3, 3, 3, 3, 4, 5, 6]

### Index

In [30]:
help(mylist1.index)

Help on built-in function index:

index(value, start=0, stop=9223372036854775807, /) method of builtins.list instance
    Return first index of value.

    Raises ValueError if the value is not present.

In [31]:
myindex = mylist1.index(6)

In [32]:
myindex

16

### Insert

In [38]:
help(mylist1.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [36]:
mylist1.insert(4,75)

In [37]:
mylist1

[1, 2, 3, 4, 75, 5, 1, 1, 1, 2, 2, 3, 3, 3, 3, 4, 5, 6, 4]

### Remove

In [39]:
help(mylist1.remove)

Help on built-in function remove:

remove(value, /) method of builtins.list instance
    Remove first occurrence of value.

    Raises ValueError if the value is not present.

In [40]:
mylist1.remove(75)

In [41]:
mylist1

[1, 2, 3, 4, 5, 1, 1, 1, 2, 2, 3, 3, 3, 3, 4, 5, 6, 4]

In [42]:
help(mylist1.reverse)

Help on built-in function reverse:

reverse() method of builtins.list instance
    Reverse *IN PLACE*.

### Reverse

In [43]:
mylist1.reverse()

In [44]:
mylist1

[4, 6, 5, 4, 3, 3, 3, 3, 2, 2, 1, 1, 1, 5, 4, 3, 2, 1]

### Sort

In [45]:
help(mylist1.sort)

Help on built-in function sort:

sort(*, key=None, reverse=False) method of builtins.list instance
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

In [46]:
mylist1.sort()

In [47]:
mylist1

[1, 1, 1, 1, 2, 2, 2, 3, 3, 3, 3, 3, 4, 4, 4, 5, 5, 6]

***

<font size = 6, color = blue> Functions

In [48]:
def say_hello():
    print("Hello")

In [49]:
say_hello()

Hello

In [51]:
def say_hello(name):
    print(f'Hello {name}')

In [53]:
say_hello('Ziba')

Hello Ziba

In [56]:
def add_sum(num1, num2):
#    return num1 + num2
    return (num1 + num2)

In [57]:
add_sum(1,2)

3

In [58]:
result = add_sum(10,20)
result

30

In [72]:
# testing how print is handled
def add_sum2(num1, num2):
    '''
    hello there # testing blocking code
    how are you
    '''
#    print(num1 + num2)
    result1 = print(num1 + num2)

In [73]:
add_sum2(10,20)

30

In [70]:
# testing how return is handled when compared with print

'''
hello again
there is nothing else
to matter here
'''
def add_sum3 (num1, num2):
    return (num1 + num2)

In [71]:
add_sum3(10,20)

30

In [74]:
add_sum3('10', '20')

'1020'

***

<font size = 6, color = blue> Logic with Functions

In [76]:
# check if number is even

***

In [92]:
# method 1

In [80]:
def even_check(num):
    if num % 2 == 0:
        return print(f'this number is even {num}')
    else:
        print('not even')

In [81]:
even_check(12)

this number is even 12

In [82]:
even_check(13)

not even

***

In [89]:
# method 2

In [83]:
def even_check2(num):
    result = num%2 == 0
    return result

In [84]:
even_check2(12)

True

In [85]:
even_check2(13)

False

***

In [91]:
# method 3

In [86]:
def even_check3(num):
    return num%2 == 0

In [87]:
even_check3(15)

False

In [88]:
even_check3(12)

True

***

In [93]:
# check for even number inside a list

In [94]:
mylist1 = [1,2,3,4,5,6,7,8,9,10]

In [99]:
########### Method 1 (incorrect)

In [95]:
def even_check4(mylist1):
    for num in mylist1:
        if num % 2 == 0:
            return ('this is even')
        else:
            return ('this is odd')

In [96]:
even_check4(mylist1)

'this is odd'

In [100]:
########## Method 2 (this is correct)

In [97]:
def even_check5(mylist1):
    for num in mylist1:
        if num % 2 == 0:
            return ('this is even')
        else:
            pass 
    return ('this is odd')

In [98]:
even_check5(mylist1)

'this is even'

***

In [101]:
# Return all even numbers in the list

In [104]:
def even_check6(templist6):
    new_even_list = []
    
    for num6 in templist6:
        if num6 % 2 == 0:
            new_even_list.append(num6)
        else:
            pass
    return new_even_list

In [105]:
even_check6(mylist1)

[2, 4, 6, 8, 10]

***

<font size = 6, color = blue> Tuple Unpacking

In [107]:
stock_prices = [('APPL', 100), ('GOOG', 200), ('TSLA', 300), ('ORCL', 400)]

In [111]:
# standard tuple unpacking with for loops

In [108]:
for item in stock_prices:
    print(item)

('APPL', 100)
('GOOG', 200)
('TSLA', 300)
('ORCL', 400)

In [110]:
for ticker, price in stock_prices:
    print(ticker)

APPL
GOOG
TSLA
ORCL

***

In [112]:
# tuple unpacking using Functions

In [113]:
# determine max stock price

In [118]:
def max_stock_price(stock_prices):
    current_max = 0
    ticker_max = ''
    
    for stock in stock_prices:
        if price > current_max:
            current_max = price
            ticker_max = ticker
        else:
            pass
            
    return (ticker_max, current_max)

In [119]:
max_stock_price(stock_prices)

('ORCL', 400)

In [120]:
ticker, price = max_stock_price(stock_prices)

In [121]:
ticker

'ORCL'

In [122]:
price

400

In [123]:
items = max_stock_price(stock_prices)

In [124]:
items

('ORCL', 400)

***

<font size = 6, color = blue> Interaction between functions

In [125]:
# creating the shuffle function

In [126]:
mylist = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

In [128]:
from random import shuffle

In [133]:
shuffle(mylist)
# note this doesnt return anything

In [134]:
result = shuffle(mylist)
# assigning the output to a variable also does not return anythig

In [135]:
result
#queryign the result is also teh same

In [136]:
mylist
# the only way to view the result is to go back to the original list

[8, 13, 4, 2, 15, 6, 16, 3, 19, 1, 10, 5, 14, 20, 9, 18, 7, 12, 17, 11]

***

In [137]:
# Creating a new shuffle function that stores the output

In [138]:
def shufflelist(mylist):
    shuffle(mylist)
    return(mylist)

In [139]:
shufflelist(mylist)

[4, 17, 3, 8, 20, 13, 1, 18, 19, 2, 12, 6, 10, 9, 5, 15, 7, 11, 14, 16]

***

In [143]:
# Modeling the game
# Step 1 : create a shufflist function to store the shuffle result
# Step 2: Determine the initial position of the ball (with a function)
# Step 3: Write a function to accept user input of the guess
# Step 4: Compare guess with user input and determine if the guess is correct
# Step 5: Putting it all together

In [146]:
# Step 2
mylist = ['', '0', '']
shufflelist (mylist)

['', 'O', '']

In [172]:
mixed_up_list = shufflelist(mylist)

In [163]:
# Step 3 - Option 1

def player_guess1():
#    guess = ''
    guess = input('Pick a number 0,1,2')
    
    if guess in ['0', '1', '2']:
        return int(guess)
    else:
        guess = input('Pick a number 0,1,2')

In [167]:
player_guess1()

Pick a number 0,1,24
Pick a number 0,1,25

In [165]:
player_guess1()

Pick a number 0,1,22

2

In [156]:
# Step 3: Option 2

def player_guess2():
    guess = ''
    
    while guess not in ['0', '1', '2']:
        guess = input('Pick a number 0,1,2')
    return int(guess)

In [158]:
player_guess2()

Pick a number 0,1,22

2

In [162]:
player_guess2()

Pick a number 0,1,23
Pick a number 0,1,24
Pick a number 0,1,20

0

In [169]:
myindex2 = player_guess2()

Pick a number 0,1,22

In [170]:
myindex2

2

In [177]:
# Step 4: Combine both functions and compare

def check_guess(mylist, guess):
    if mylist[guess] == '0':
        print('Correct')
    else:
        print('Wrong Guess')
        print(mylist)

In [179]:
#Step 5: Putting it all together

mylist = ['', '0', '']

# Step 2
mixed_up_list = shufflelist(mylist)

# Step 3
guess = player_guess2()

#Step 4
check_guess(mylist, guess)

Pick a number 0,1,23
Pick a number 0,1,20
Correct

In [180]:
mylist

['0', '', '']

***

<font size = 6, color = blue> *args and *kwargs in Python

### *args

In [186]:
# starting with the traditional approach of defining functions

def myfunc1(a,b,c=0):
    return sum((a,b,c)) # notice the (()) which is a tuple

In [187]:
myfunc1(1,2,3)

6

In [201]:
# do the same thing with *args

def myfunc2(*args):
    return sum(args) # notice the args and not *args
#    print(args)

In [199]:
myfunc2(1,2,3,4,5,6)

21

In [202]:
# Tuple unpacking with *args

def myfunc2(*args):
    for item in args:
        print(item)

In [203]:
myfunc2(4,5,6,7,8,9)

4
5
6
7
8
9

***

### kwargs

In [204]:
# *args returns a ruple
# *kwargs returns a dictionary

In [205]:
def myfunc3(**kwargs):
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print(' I did not find any fruit here')

In [206]:
myfunc3(fruit = 'apple')

My fruit of choice is apple

In [207]:
myfunc3(fruit = 'apple', veggie = 'brinjal')

My fruit of choice is apple

***

In [208]:
# example with both *args and **kwargs

def myfunc4(*args, **kwargs):
    print(args)
    print(kwargs)
    print(' I would like {}{}'.format(args[0], kwargs['food']))

In [209]:
myfunc4(10,20,30, fruit = 'orange', food = 'eggs', veggies = 'brinjal')

(10, 20, 30)
{'fruit': 'orange', 'food': 'eggs', 'veggies': 'brinjal'}
 I would like 10eggs