<font size = 10> Recap 1

***

<font size = 7, color = 'teal'> If, Elif, Else Statements

In [81]:
loc = 'bank'
if loc == 'auto shot':
    print("Auto shops are cool")
else:
    print("this is not cool")

this is not cool

In [6]:
#name = 'Ziba'
name = 'Martha'

if name == 'Ziba':
    print('Ziba is the greatest')
elif name == 'Martha':
    print('Boring')
elif name == 'John':
    print('Boring Boring')
else:
    print('this is it')

Boring

***

<font size = 7, color = 'teal'> For Loops

## Numbers

In [14]:
num1 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

for number in num1:
    print(number/2)

0.5
1.0
1.5
2.0
2.5
3.0
3.5
4.0
4.5
5.0
5.5
6.0
6.5
7.0
7.5
8.0
8.5
9.0
9.5
10.0

In [13]:
str1 = ['a','b','c','d','e','f','g']

for string in str1:
    print(string)

a
b
c
d
e
f
g

` printing even numbers with for loop `

In [15]:
for number2 in num1:
    if number2%2 ==0:   ## mod operator
        print(number2)

2
4
6
8
10
12
14
16
18
20

In [17]:
for number3 in num1:
    if number3%2 ==0:
        print(f'even number is: {number3}')
    else:
        print(f'odd numner is: {number3}')

odd numner is: 1
even number is: 2
odd numner is: 3
even number is: 4
odd numner is: 5
even number is: 6
odd numner is: 7
even number is: 8
odd numner is: 9
even number is: 10
odd numner is: 11
even number is: 12
odd numner is: 13
even number is: 14
odd numner is: 15
even number is: 16
odd numner is: 17
even number is: 18
odd numner is: 19
even number is: 20

In [23]:
for number3 in num1:
    if number3%4 ==0:
        print(f'this is divisible by 4: {number3}')
    elif number3%2 == 0:
        print(f'this is an even number:{number3}')
    else:
        print(f'odd numner is: {number3}')

odd numner is: 1
this is an even number:2
odd numner is: 3
this is divisible by 4: 4
odd numner is: 5
this is an even number:6
odd numner is: 7
this is divisible by 4: 8
odd numner is: 9
this is an even number:10
odd numner is: 11
this is divisible by 4: 12
odd numner is: 13
this is an even number:14
odd numner is: 15
this is divisible by 4: 16
odd numner is: 17
this is an even number:18
odd numner is: 19
this is divisible by 4: 20

## Strings

In [24]:
mystring1 = '227 monterey blvd'

for letter2 in mystring1:
    print(letter2)

2
2
7

m
o
n
t
e
r
e
y

b
l
v
d

In [26]:
for letter2 in "how are you":
    print(letter2)

h
o
w

a
r
e

y
o
u

## Tuples

<font size = 4, color = 'blue'> Tuple Unpacking

In [31]:
mytuple1 = (1,2,3,4,5)

In [32]:
for tup1 in mytuple1:
    print(tup1)

1
2
3
4
5

In [34]:
mytuplelist1 = [(1,2), (3,4), (5,6), (7,8), (9,10), (11,12), (13,14)]
for tup2 in mytuplelist1:
    print(tup2)

(1, 2)
(3, 4)
(5, 6)
(7, 8)
(9, 10)
(11, 12)
(13, 14)

In [37]:
for (unpack1, unpack2) in mytuplelist1:
    print(unpack1)
    print(unpack2)

1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [38]:
for unpack3, unpack4 in mytuplelist1: # without paranthesis
    print(unpack3)
    print(unpack4)

1
2
3
4
5
6
7
8
9
10
11
12
13
14

## Dictionaries

In [41]:
dict1 = {'k1': 100, 'k2': 200, 'k3': 300}

for item1 in dict1:  ## Note this only prints the keys
    print(item1)

k1
k2
k3

In [43]:
dict2 = {'k4': 1, 'k5': 2, 'k6': 6}

for item2 in dict2.values(): ## Note this prints values
    print(item2)

1
2
6

In [44]:
dict2 = {'k4': 1, 'k5': 2, 'k6': 6}

for item2 in dict2.items(): ## Note this prints both key & value
    print(item2)

('k4', 1)
('k5', 2)
('k6', 6)

<font size = 4, color = 'blue'> Tuple Unpacking

In [48]:
dict3 = {'k7': 100, 'k8': 200, 'k9': 300, 'k10': 400}

for key3, value3 in dict3.items():
    print(key3)
    print(value3)

k7
100
k8
200
k9
300
k10
400

***

<font size = 7, color = 'teal'> While Loops

In [49]:
x1 = 0

while x1 < 5:
    print(f'the current value of item is {x1}')
    x1 += 1

the current value of item is 0
the current value of item is 1
the current value of item is 2
the current value of item is 3
the current value of item is 4

***

<font size = 7, color = 'teal'> Pass

<font color = 'red'> oftentimes, PASS is used as a placeholder in order to avoid syntax issues \
    really helpful in longer lines of code

In [54]:
x2 = [1,2,3]

for item2 in x2:
    pass
print('this is the end of the script')

this is the end of the script

***

<font size = 7, color = 'teal'> Break

<font color = 'red'> Exits out of the loop when the condition is met

` used in a FOR loop `

In [65]:
mystring2 = "Hello my little Ziba Joon!"

for letter2 in mystring2:
    if letter2 == 'Z':
        break
    print(letter2)

H
e
l
l
o

m
y

l
i
t
t
l
e

` used in a WHILE loop `

In [60]:
x3 = 0

while x3 < 6:
    if x3 == 4:
        break
    print(f'this is testing break in a while loop for {x3}')
    x3 += 1

this is testing break in a while loop for 0
this is testing break in a while loop for 1
this is testing break in a while loop for 2
this is testing break in a while loop for 3

***

<font size = 7, color = 'teal'> Continue

<font color = 'red'> Continue basically skips the matching condition and moves to the next in the loop

In [55]:
mystring1 = 'How are you doing?'

for letter1 in mystring1:
    if letter1 == 'u':
        continue
    print(letter1)

H
o
w

a
r
e

y
o

d
o
i
n
g
?

***

<font size = 7, color = 'teal'> Range

<font color = 'red'> Range is a GENERATOR

In [67]:
for num4 in range(1,100,20):
    print(num4)

1
21
41
61
81

In [68]:
range(2,20,5)

range(2, 20, 5)

In [71]:
list(range(2,20,5))  ## Note the use of () rather than [] for generating the list

[2, 7, 12, 17]

***

<font size = 7, color = 'teal'> Enumerate

In [78]:
word = 'enumerate'
index_count1 = 0

for letter1 in word:
    print('at index{} the letter is {}'.format(index_count1, letter1))
    index_count1 += 1

at index0 the letter is e
at index1 the letter is n
at index2 the letter is u
at index3 the letter is m
at index4 the letter is e
at index5 the letter is r
at index6 the letter is a
at index7 the letter is t
at index8 the letter is e

` doesn't seem to work on numbers `

<font color = 'red'> Enumerate returns TUPLES

In [85]:
word4 = 'expeditious'

for item4 in enumerate(word4):
    print(item4)

(0, 'e')
(1, 'x')
(2, 'p')
(3, 'e')
(4, 'd')
(5, 'i')
(6, 't')
(7, 'i')
(8, 'o')
(9, 'u')
(10, 's')

<font color = 'red'> Which implies we can use tuple unpacking as well

In [87]:
for index4, letter4 in enumerate(word4):
    print(index4)
    print(letter4)
    print('\n')

0
e


1
x


2
p


3
e


4
d


5
i


6
t


7
i


8
o


9
u


10
s

***

<font size = 7, color = 'teal'> ZIP

` zip works with methods like LISTS -- and limited to the shortest among all `

In [90]:
mylist1 = [1,2,3,4,5]
mylist2 = ['a','c','f','t','h']
#mylist3 = [100,200,300,400,500]
mylist3 = [100,200,300]

for item123 in zip(mylist1, mylist2, mylist3):
    print(item123)

(1, 'a', 100)
(2, 'c', 200)
(3, 'f', 300)

<font color = 'red'> tuple unpacking

<font color = 'blue'> Notice that item1 and item2 (are when all three items are defined)

In [92]:
for item1, item2, item3 in zip(mylist1, mylist2, mylist3):
    print(item1, item2)

1 a
2 c
3 f

<font color = blue> Note that all values are displayed if only one item is listed

In [93]:
for item1 in zip(mylist1, mylist2, mylist3):
    print(item1)

(1, 'a', 100)
(2, 'c', 200)
(3, 'f', 300)

***

<font size = 7, color = 'teal'> IN

<font color = blue> gets true or false (boolean values

### Lists

In [97]:
'x' in ['x','y','a']

True

In [96]:
'a' in 'a world'

True

## Dictionaries

In [99]:
'mykey' in {'mykey': 1234}

True

In [101]:
dic1 = {'k1': 100, 'k2': 200}

100 in dic1.values()

True

***

<font size = 7, color = 'teal'> Min & Max

In [105]:
mylist10 = [1,2,3,4,5,6,7,8,9,10]

print(min(mylist10))
print(max(mylist10))

1
10

***

<font size = 7, color = 'teal'> Random Library

## Shuffle

In [114]:
from random import shuffle

mylist11 = [1,2,3,4,5,6,7,8,9,10]

#shuffle(mylist11)

random_var = shuffle(mylist11)
print(type(random_var))  # Note there is no value assigned by the shuffle function

#print(mylist11)
#print(type(mylist11))

<class 'NoneType'>

## RandINT

<font color = blue> unlike shuffle, RandINT is not saved in place, but can be saved to a variable

In [115]:
from random import randint

randint(1,400)

192

In [118]:
rand_var2 = randint(400,6000)
print(rand_var2)

2374

## Accepting User Input

<font color = blue> Inputs always stores as a string

In [120]:
result1 = input('what is your name?')
print (result1)

what is your name?Ziba
Ziba

In [122]:
result2 = input('what is the number?')
print(result2)
print(type(result2))

what is the number?33
33
<class 'str'>

` converting string results back to number `

In [123]:
float (result2)

33.0

In [124]:
int(result2)

33

In [125]:
result3 = int(input('what is your favorite number?'))

print(result3)

print(type(result3))

what is your favorite number?66
66
<class 'int'>