<font size = 10> Recap 1

<font size = 6, color = 'teal'> If, Elif, Else Statements

In [1]:
loc = 'bank'
if loc == 'auto shot':
    print("Auto shops are cool")
else:
    print("this is not cool")

this is not cool

In [6]:
#name = 'Ziba'
name = 'Martha'

if name == 'Ziba':
    print('Ziba is the greatest')
elif name == 'Martha':
    print('Boring')
elif name == 'John':
    print('Boring Boring')
else:
    print('this is it')

Boring

***

<font size = 6, color = 'teal'> For Loops

## Numbers

In [14]:
num1 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

for number in num1:
    print(number/2)

0.5
1.0
1.5
2.0
2.5
3.0
3.5
4.0
4.5
5.0
5.5
6.0
6.5
7.0
7.5
8.0
8.5
9.0
9.5
10.0

In [13]:
str1 = ['a','b','c','d','e','f','g']

for string in str1:
    print(string)

a
b
c
d
e
f
g

` printing even numbers with for loop `

In [15]:
for number2 in num1:
    if number2%2 ==0:   ## mod operator
        print(number2)

2
4
6
8
10
12
14
16
18
20

In [17]:
for number3 in num1:
    if number3%2 ==0:
        print(f'even number is: {number3}')
    else:
        print(f'odd numner is: {number3}')

odd numner is: 1
even number is: 2
odd numner is: 3
even number is: 4
odd numner is: 5
even number is: 6
odd numner is: 7
even number is: 8
odd numner is: 9
even number is: 10
odd numner is: 11
even number is: 12
odd numner is: 13
even number is: 14
odd numner is: 15
even number is: 16
odd numner is: 17
even number is: 18
odd numner is: 19
even number is: 20

In [23]:
for number3 in num1:
    if number3%4 ==0:
        print(f'this is divisible by 4: {number3}')
    elif number3%2 == 0:
        print(f'this is an even number:{number3}')
    else:
        print(f'odd numner is: {number3}')

odd numner is: 1
this is an even number:2
odd numner is: 3
this is divisible by 4: 4
odd numner is: 5
this is an even number:6
odd numner is: 7
this is divisible by 4: 8
odd numner is: 9
this is an even number:10
odd numner is: 11
this is divisible by 4: 12
odd numner is: 13
this is an even number:14
odd numner is: 15
this is divisible by 4: 16
odd numner is: 17
this is an even number:18
odd numner is: 19
this is divisible by 4: 20

## Strings

In [24]:
mystring1 = '227 monterey blvd'

for letter2 in mystring1:
    print(letter2)

2
2
7

m
o
n
t
e
r
e
y

b
l
v
d

In [26]:
for letter2 in "how are you":
    print(letter2)

h
o
w

a
r
e

y
o
u

## Tuples

<font size = 4, color = 'blue'> Tuple Unpacking

In [31]:
mytuple1 = (1,2,3,4,5)

In [32]:
for tup1 in mytuple1:
    print(tup1)

1
2
3
4
5

In [34]:
mytuplelist1 = [(1,2), (3,4), (5,6), (7,8), (9,10), (11,12), (13,14)]
for tup2 in mytuplelist1:
    print(tup2)

(1, 2)
(3, 4)
(5, 6)
(7, 8)
(9, 10)
(11, 12)
(13, 14)

In [37]:
for (unpack1, unpack2) in mytuplelist1:
    print(unpack1)
    print(unpack2)

1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [38]:
for unpack3, unpack4 in mytuplelist1: # without paranthesis
    print(unpack3)
    print(unpack4)

1
2
3
4
5
6
7
8
9
10
11
12
13
14

## Dictionaries

In [41]:
dict1 = {'k1': 100, 'k2': 200, 'k3': 300}

for item1 in dict1:  ## Note this only prints the keys
    print(item1)

k1
k2
k3

In [43]:
dict2 = {'k4': 1, 'k5': 2, 'k6': 6}

for item2 in dict2.values(): ## Note this prints values
    print(item2)

1
2
6

In [44]:
dict2 = {'k4': 1, 'k5': 2, 'k6': 6}

for item2 in dict2.items(): ## Note this prints both key & value
    print(item2)

('k4', 1)
('k5', 2)
('k6', 6)

<font size = 4, color = 'blue'> Tuple Unpacking

In [48]:
dict3 = {'k7': 100, 'k8': 200, 'k9': 300, 'k10': 400}

for key3, value3 in dict3.items():
    print(key3)
    print(value3)

k7
100
k8
200
k9
300
k10
400