<font size = 20, color = 'teal'> Practice - Repeat Exercises <font>

# TYPES

## NSLDTSB

**Number, String, List, Dictionary, Tuple, Set, Boolean**

Number

String

List

Dictionary

Tuple

Set

Bolean

<font size = 30> Numbers <font>

In [1]:
1-2

-1

In [2]:
2*2

4

In [3]:
2/3

0.6666666666666666

### Mod Operater

In [5]:
7%3

1

In [6]:
23 % 2

1

### Order of Operations

#### PEMDAS -- Paranthesis, Exponent, Multiplication, Division, Addition, Subtraction

In [7]:
2+10*3-1

31

In [9]:
(2+3/4)*45/2*3

185.625

2.75 * (22.5*3) .... 67.5 * 2.75

In [10]:
67.5*2.75

185.625

## Variable Assignments

` Dynamic Typing -- means variables can be reassigned to different data types `

In [12]:
my_dogs = 2

In [13]:
my_dogs = ["Sammy", "Frankie"]

` Something like this is not possible in say, C++ where variables need to be declared like int my_dog = 1 `

In [14]:
a = 10

In [16]:
a

10

In [21]:
a = a + a

In [22]:
a

80

In [23]:
type(a)

int

In [24]:
a = 0.1

In [25]:
type(a)

float

In [26]:
a

0.1

In [3]:
my_income = 100
my_tax = .20
my_total_tax = my_income * my_tax

In [4]:
my_total_tax

20.0

***

<font size = 30> Strings <font>

<font color = 'red'> Strings are ordered sequences <font>

In [5]:
a = 'Hello'

In [6]:
a[1]

'e'

In [7]:
a[-1]

'o'

In [8]:
"one"
"two"

'two'

In [9]:
print("one")
print("two")

one
two

In [10]:
print("hello \n world")

hello
 world

In [11]:
len("Hello World")

11

In [12]:
mystring = "My name is Anthony"

In [13]:
len(mystring)

18

In [15]:
mystring[0]

'M'

In [17]:
mystring[11]

'A'

In [18]:
mystring[2:]

' name is Anthony'

In [19]:
mystring[3:]

'name is Anthony'

In [20]:
mystring[:3]

'My '

In [21]:
mystring[:6]

'My nam'

In [22]:
mystring[3:6]

'nam'

<font color = 'red'> Step Size <font>

In [23]:
mystring[::1]

'My name is Anthony'

In [24]:
mystring[::2]

'M aei nhn'

In [26]:
mystring[3:17:1]

'name is Anthon'

In [27]:
mystring[3:17:2]

'nm sAto'

<font color = 'red'> Reversing a String <font>

In [28]:
mystring[::-1]

'ynohtnA si eman yM'

## Print Formatting with Strings

In [30]:
myname = "Gaurav"
print("Hello my name is " + myname)

Hello my name is Gaurav

In [31]:
print('This is a string{}'.format("  Inserted here"))

This is a string  Inserted here

In [32]:
print("abcd{}".format("efgh"))

abcdefgh

In [33]:
print('How are you doing{}'.format(" Ziba Joon"))

How are you doing Ziba Joon

In [34]:
print('this is such{}{}{}'.format(' an', ' amazing', ' time'))

this is such an amazing time

In [36]:
print('I would like to take {z} to {o} for a swim'.format(z = 'Ziba Joon', o = 'Ocean Beach'))

I would like to take Ziba Joon to Ocean Beach for a swim

In [37]:
print('what is {p} doing here in {c} in {m}'.format(p = "Ziba Joon", c = "Philadelphia", m = "June"))

what is Ziba Joon doing here in Philadelphia in June

## Float Fomatting - value, width, precision

In [40]:
result = 100/7
print("The result was {}".format(result))
print("The result was {r}".format(r=result))

The result was 14.285714285714286
The result was 14.285714285714286

## Using F Strings for formatting

In [48]:
result = 100.7
print("The result is {r}".format(r = result))
print(f"The result is {result}")

The result is 100.7
The result is 100.7

***

In [55]:
name = "Sam"
age = 10
print("{n} is {a} years old".format(n = name, a = age))
print("{} is {} years old".format(name, age))
print(f"{name} is {age} years old")

Sam is 10 years old
Sam is 10 years old
Sam is 10 years old

***

<font size = 30> Lists <font>

### While String is a data type, Lists are similar in that it is (1) Ordered and (2) Supports Indexing & Slicing -- However, the list is a collection of different types, including strings

## Lists can mutate

In [62]:
my_list1 = ["My name is Ziba", 1, 4/56]
my_list2 = [23.1, 1/6, "Cats"]
print(my_list1)
print(my_list2)

['My name is Ziba', 1, 0.07142857142857142]
[23.1, 0.16666666666666666, 'Cats']

### Indexing

In [65]:
my_list1[0]
my_list2[2]

'Cats'

In [69]:
print(my_list1[0])
print(my_list2[2])

My name is Ziba
Cats

### Slicing

In [72]:
my_list2[1:]

[0.16666666666666666, 'Cats']

In [73]:
my_list[:2]

['My name is Ziba', 1]

In [74]:
my_list[:1]

['My name is Ziba']

In [75]:
my_list[1:2]

[1]

In [78]:
my_list3 = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n']

In [79]:
my_list3[1:]

['b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n']

In [81]:
my_list3[:6]

['a', 'b', 'c', 'd', 'e', 'f']

In [83]:
my_list3[3:7]

['d', 'e', 'f', 'g']

### Concatanation

In [84]:
my_list1 + my_list2

['My name is Ziba', 1, 0.07142857142857142, 23.1, 0.16666666666666666, 'Cats']

In [85]:
my_list4 = my_list1 + my_list2

In [87]:
print(my_list4)

['My name is Ziba', 1, 0.07142857142857142, 23.1, 0.16666666666666666, 'Cats']

### Mutation

In [89]:
my_list5 = [1,2,3,4]
my_list5[0] = 5
my_list5

[5, 2, 3, 4]

### Adding

In [91]:
my_list6 = [1,2,3,4,5,6]
my_list6.append(7)
my_list6

[1, 2, 3, 4, 5, 6, 7]

### Removing

In [93]:
my_list7 = [1,2,3,4,5,6]
my_list7.pop()

6

In [94]:
my_list7

[1, 2, 3, 4, 5]

In [95]:
my_list7.pop(2)
my_list7

[1, 2, 4, 5]

### Sort

<font color = 'red'> Notice the in place behavior of sort -- and why reassignment (my_list81, my_list91) is needed <font>

In [105]:
my_list8 = ['b','g','t','y','r','e','d','c','s','a','r']
my_list9 = [5,4,7,8,9,1,2,4,0]
my_list8.sort()
my_list81 = my_list8.sort()
print(my_list81)
my_list9.sort()
my_list91 = my_list9.sort()
print(my_list91)

None
None

In [102]:
type(my_list81)
type(my_list91)

NoneType

In [107]:
my_list10 = ['b','g','t','y','r','e','d','c','s','a','r']
my_list10.sort()
my_list101 = my_list10
print(my_list101)
my_list11 = [5,4,7,8,9,1,2,4,0]
my_list11.sort()
my_list111 = my_list11
print(my_list111)

['a', 'b', 'c', 'd', 'e', 'g', 'r', 'r', 's', 't', 'y']
[0, 1, 2, 4, 4, 5, 7, 8, 9]

### Reverse

<font color = 'red'> Notice how calling my_list111 in the same cell does not work <font>

In [112]:
my_list111.reverse()
my_list111

[0, 1, 2, 4, 4, 5, 7, 8, 9]

In [111]:
my_list111

[9, 8, 7, 5, 4, 4, 2, 1, 0]