<font size = 20, color = 'teal'> Recap - Item Types <font>

# TYPES

## NSLDTSB

**Number, String, List, Dictionary, Tuple, Set, Boolean**

NSLDTSB (Number, String, List, Dictionary, Tuples, Set, Boolean)

NSLDTSB: Number, String, List, Dictionary, Tuple, Set, Boolean

| # | Number | String | List | Dictionary | Tuple | Set | Boolean |
| --- | --- | --- | --- | --- | --- | --- | --- |
| Example | 1 or 2.1 | 'hello there' | [1,2,3] |{'k1' = 123} | (1,2,3) | set(string or number) | 0 or 1 |
| Highlight | float & integer | Unordered, Immutable  | Ordered, Mutable | Key Value Pairs |Similar to List, but Immutable |Unordered, Unique | True or False |
|Symbol |- |" "  | [ ] | { 'k' : value} | (v1, v2, v3) |set() |- | 
| Mutable | Yes | No |Yes | TBD |No |No | - |
| Ordered | - | Yes | Yes |No |Yes | No |- |
| Index | TBD | Yes | Yes | No | TBD | TBD | - |
| Slice | No | Yes | Yes | No | Yes |TBD |- | 
| Add | - | - | Yes  |-  | TBD  | - |- |
| Remove| -  | Yes  |- | TBD|- |- |- |  
|- |- |- |- |- |- |- |- | 
|- |- |- |- |- |- |- |- |
|- |- |- |- |- |- |- |- |
|- |- |- |- |- |- |- |- |
|- |- |- |- |- |- |- |- |
|- |- |- |- |- |- |- |- |

Number

String

List

Dictionary

Tuple

Set

Bolean

<font size = 30> Numbers <font>

In [1]:
1-2

-1

In [2]:
2*2

4

In [3]:
2/3

0.6666666666666666

### Mod Operater

In [5]:
7%3

1

In [6]:
23 % 2

1

### Order of Operations

#### PEMDAS -- Paranthesis, Exponent, Multiplication, Division, Addition, Subtraction

In [7]:
2+10*3-1

31

In [9]:
(2+3/4)*45/2*3

185.625

2.75 * (22.5*3) .... 67.5 * 2.75

In [10]:
67.5*2.75

185.625

## Variable Assignments

` Dynamic Typing -- means variables can be reassigned to different data types `

In [12]:
my_dogs = 2

In [13]:
my_dogs = ["Sammy", "Frankie"]

` Something like this is not possible in say, C++ where variables need to be declared like int my_dog = 1 `

In [14]:
a = 10

In [16]:
a

10

In [21]:
a = a + a

In [22]:
a

80

In [23]:
type(a)

int

In [24]:
a = 0.1

In [25]:
type(a)

float

In [26]:
a

0.1

In [3]:
my_income = 100
my_tax = .20
my_total_tax = my_income * my_tax

In [4]:
my_total_tax

20.0

***

<font size = 30> Strings <font>

## <font color = 'red'> Ordered, Immutable, Index, Slice <font>

<font color = 'red'> Strings are ordered sequences <font>

In [5]:
a = 'Hello'

In [6]:
a[1]

'e'

In [7]:
a[-1]

'o'

In [8]:
"one"
"two"

'two'

In [9]:
print("one")
print("two")

one
two

In [10]:
print("hello \n world")

hello
 world

In [11]:
len("Hello World")

11

In [12]:
mystring = "My name is Anthony"

In [13]:
len(mystring)

18

In [15]:
mystring[0]

'M'

In [17]:
mystring[11]

'A'

In [18]:
mystring[2:]

' name is Anthony'

In [19]:
mystring[3:]

'name is Anthony'

In [20]:
mystring[:3]

'My '

In [21]:
mystring[:6]

'My nam'

In [22]:
mystring[3:6]

'nam'

<font color = 'red'> Step Size <font>

In [23]:
mystring[::1]

'My name is Anthony'

In [24]:
mystring[::2]

'M aei nhn'

In [26]:
mystring[3:17:1]

'name is Anthon'

In [27]:
mystring[3:17:2]

'nm sAto'

<font color = 'red'> Reversing a String <font>

In [28]:
mystring[::-1]

'ynohtnA si eman yM'

## Print Formatting with Strings

In [30]:
myname = "Gaurav"
print("Hello my name is " + myname)

Hello my name is Gaurav

In [31]:
print('This is a string{}'.format("  Inserted here"))

This is a string  Inserted here

In [32]:
print("abcd{}".format("efgh"))

abcdefgh

In [33]:
print('How are you doing{}'.format(" Ziba Joon"))

How are you doing Ziba Joon

In [34]:
print('this is such{}{}{}'.format(' an', ' amazing', ' time'))

this is such an amazing time

In [36]:
print('I would like to take {z} to {o} for a swim'.format(z = 'Ziba Joon', o = 'Ocean Beach'))

I would like to take Ziba Joon to Ocean Beach for a swim

In [37]:
print('what is {p} doing here in {c} in {m}'.format(p = "Ziba Joon", c = "Philadelphia", m = "June"))

what is Ziba Joon doing here in Philadelphia in June

## Float Fomatting - value, width, precision

In [40]:
result = 100/7
print("The result was {}".format(result))
print("The result was {r}".format(r=result))

The result was 14.285714285714286
The result was 14.285714285714286

## Using F Strings for formatting

In [48]:
result = 100.7
print("The result is {r}".format(r = result))
print(f"The result is {result}")

The result is 100.7
The result is 100.7

***

In [55]:
name = "Sam"
age = 10
print("{n} is {a} years old".format(n = name, a = age))
print("{} is {} years old".format(name, age))
print(f"{name} is {age} years old")

Sam is 10 years old
Sam is 10 years old
Sam is 10 years old

***

<font size = 30> Lists <font>

## <font color = 'red'> Ordered, Mutate, Index, Slice, Add, Remove, Sort <font>

### While String is a data type, Lists are similar in that it is (1) Ordered and (2) Supports Indexing & Slicing -- However, the list is a collection of different types, including strings

## Lists can mutate

In [62]:
my_list1 = ["My name is Ziba", 1, 4/56]
my_list2 = [23.1, 1/6, "Cats"]
print(my_list1)
print(my_list2)

['My name is Ziba', 1, 0.07142857142857142]
[23.1, 0.16666666666666666, 'Cats']

### Indexing

In [65]:
my_list1[0]
my_list2[2]

'Cats'

In [69]:
print(my_list1[0])
print(my_list2[2])

My name is Ziba
Cats

### Slicing

In [72]:
my_list2[1:]

[0.16666666666666666, 'Cats']

In [73]:
my_list[:2]

['My name is Ziba', 1]

In [74]:
my_list[:1]

['My name is Ziba']

In [75]:
my_list[1:2]

[1]

In [78]:
my_list3 = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n']

In [79]:
my_list3[1:]

['b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n']

In [81]:
my_list3[:6]

['a', 'b', 'c', 'd', 'e', 'f']

In [83]:
my_list3[3:7]

['d', 'e', 'f', 'g']

### Concatanation

In [84]:
my_list1 + my_list2

['My name is Ziba', 1, 0.07142857142857142, 23.1, 0.16666666666666666, 'Cats']

In [85]:
my_list4 = my_list1 + my_list2

In [87]:
print(my_list4)

['My name is Ziba', 1, 0.07142857142857142, 23.1, 0.16666666666666666, 'Cats']

### Mutation

In [89]:
my_list5 = [1,2,3,4]
my_list5[0] = 5
my_list5

[5, 2, 3, 4]

### Adding

In [91]:
my_list6 = [1,2,3,4,5,6]
my_list6.append(7)
my_list6

[1, 2, 3, 4, 5, 6, 7]

### Removing

In [93]:
my_list7 = [1,2,3,4,5,6]
my_list7.pop()

6

In [94]:
my_list7

[1, 2, 3, 4, 5]

In [95]:
my_list7.pop(2)
my_list7

[1, 2, 4, 5]

### Sort

<font color = 'red'> Notice the in place behavior of sort -- and why reassignment (my_list81, my_list91) is needed <font>

In [105]:
my_list8 = ['b','g','t','y','r','e','d','c','s','a','r']
my_list9 = [5,4,7,8,9,1,2,4,0]
my_list8.sort()
my_list81 = my_list8.sort()
print(my_list81)
my_list9.sort()
my_list91 = my_list9.sort()
print(my_list91)

None
None

In [102]:
type(my_list81)
type(my_list91)

NoneType

In [107]:
my_list10 = ['b','g','t','y','r','e','d','c','s','a','r']
my_list10.sort()
my_list101 = my_list10
print(my_list101)
my_list11 = [5,4,7,8,9,1,2,4,0]
my_list11.sort()
my_list111 = my_list11
print(my_list111)

['a', 'b', 'c', 'd', 'e', 'g', 'r', 'r', 's', 't', 'y']
[0, 1, 2, 4, 4, 5, 7, 8, 9]

### Reverse

<font color = 'red'> Notice how calling my_list111 in the same cell does not work <font>

In [112]:
my_list111.reverse()
my_list111

[0, 1, 2, 4, 4, 5, 7, 8, 9]

In [111]:
my_list111

[9, 8, 7, 5, 4, 4, 2, 1, 0]

### Nested Lists

In [116]:
my_list12 = [1,2,3,[4,5,6]]
my_list12[3][1]

5

In [117]:
my_list12[2]

3

***

<font size = 30> Dictionaries <font>

## <font color = 'red'> UnOrdered, Key-Value Pairs, (UnSortable, UnSlicable, UnIndexable)<font>

In [119]:
price_lookup = {'apple': 2.1, 'banana': 4.3, 'milk': 6.23, 'mango' : 4.89, 'onion': 9.09}
price_lookup['apple']

2.1

In [123]:
d1 = {'k1' : (1,2,3), 'k2' : (4,5,6)}
d1['k1']

(1, 2, 3)

In [132]:
d2 = {'k1' : (1,2,3), 'k2' : (4,5,6), 'k3' : [7,8,9,10], 
      'k4' : {'k5' : 11, 'k6' : 12, 'k7' : 13}}

In [131]:
d2['k4']['k7']

13

In [138]:
d2['k4']['k7']

13

### Converting from Dictionary to List (for example to change Uppercase)

In [156]:
d = {'key1' : ['a','b','c','d']}

In [157]:
my_list13 = d['key1']

In [158]:
my_list13

['a', 'b', 'c', 'd']

In [159]:
letter = my_list13[2]

In [160]:
letter

'c'

In [163]:
letter.upper()

'C'

***

In [169]:
e = {'key1' : ['a','b','c','d', 'e']} # declaring the Dictionary
newletter = e['key1'] # converting to list
newletter[2]

'c'

In [172]:
newletter2 = e['key1'][2].upper()
newletter2

'C'

***

In [175]:
f = {'key1' : 100, 'key2' : 200}

In [181]:
f['key3']= 300 ## Adding new value

In [180]:
f

{'key1': 100, 'key2': 200, 'key3': 300}

In [183]:
f['key2'] = "NEW VALUE" ## Testing Mutability by replacing value for key2
f

{'key1': 100, 'key2': 'NEW VALUE', 'key3': 300}

In [190]:
## to extract just the keys
f.keys()

dict_keys(['key1', 'key2', 'key3'])

In [191]:
## to extract just the values
f.values()

dict_values([100, 'NEW VALUE', 300])

In [192]:
## to extract the full list of key value pairs
f.items()

dict_items([('key1', 100), ('key2', 'NEW VALUE'), ('key3', 300)])

***

<font size = 30> Tuples <font>

## <font color = 'red'> Similar to LIST, but IMMUTABLE)<font>

In [193]:
tuple = (1,2,3) ## this is a tuple
type(tuple)

tuple

In [194]:
list = [1,2,3] ## this is a LIST
type(list)

list

In [202]:
t1 = ("hello there", 5, 10.1, 100/7, 5, 'a', 'a', 'b')
print (t1)

('hello there', 5, 10.1, 14.285714285714286, 5, 'a', 'a', 'b')

In [201]:
t1[0]

'hello there'

In [206]:
print(t1.count('a'))
print(t1.index('a')) ## only returns first instance of the value occurance

2
5

In [207]:
t1[0]

'hello there'

In [209]:
t1[0] = "Changing this" ## testing immutability

TypeError: 'tuple' object does not support item assignment

***

<font size = 30> Sets <font>

## <font color = 'red'> Unordered, Unique<font>

In [216]:
s1 = set()  ### testing the uniqueness
s1.add(1) #### needs the explicit SET
s1.add(2)
s1.add(1)
print(type(s1))
s1

<class 'set'>

{1, 2}

In [221]:
my_list21 = [1,1,1,1,1,1,2,2,2,2,2,3,4,5,5,5,5,4,4]
s2 = set(my_list21)
print(type(my_list21))
print(s2)
print(type(s2))

<class 'list'>
{1, 2, 3, 4, 5}
<class 'set'>

In [222]:
string1 = ('Mississippi')
set(string1)

{'M', 'i', 'p', 's'}

In [223]:
set('Mississippi')

{'M', 'i', 'p', 's'}

***

<font size = 30> Boolean <font>

## <font color = 'red'> True or False<font>

In [227]:
print(True)
print(type(True))
False

True
<class 'bool'>

False

In [228]:
type(False)

bool

In [229]:
1>2

False

In [230]:
2==4

False

In [235]:
b = None ## Use None as a placeholder for future value assignment

In [232]:
b

In [234]:
c

NameError: name 'c' is not defined