<font size = 20, color = 'teal'> Practice - Repeat Exercises <font>

# TYPES

## NSLDTSB

Number

String

List

Dictionary

Tuple

Set

Bolean

<font size = 30> Numbers <font>

In [1]:
1-2

-1

In [2]:
2*2

4

In [3]:
2/3

0.6666666666666666

### Mod Operater

In [5]:
7%3

1

In [6]:
23 % 2

1

### Order of Operations

#### PEMDAS -- Paranthesis, Exponent, Multiplication, Division, Addition, Subtraction

In [7]:
2+10*3-1

31

In [9]:
(2+3/4)*45/2*3

185.625

2.75 * (22.5*3) .... 67.5 * 2.75

In [10]:
67.5*2.75

185.625

## Variable Assignments

` Dynamic Typing -- means variables can be reassigned to different data types `

In [12]:
my_dogs = 2

In [13]:
my_dogs = ["Sammy", "Frankie"]

` Something like this is not possible in say, C++ where variables need to be declared like int my_dog = 1 `

In [14]:
a = 10

In [16]:
a

10

In [21]:
a = a + a

In [22]:
a

80

In [23]:
type(a)

int

In [24]:
a = 0.1

In [25]:
type(a)

float

In [26]:
a

0.1

In [3]:
my_income = 100
my_tax = .20
my_total_tax = my_income * my_tax

In [4]:
my_total_tax

20.0

***

<font size = 30> Strings <font>

<font color = 'red'> Strings are ordered sequences <font>

In [5]:
a = 'Hello'

In [6]:
a[1]

'e'

In [7]:
a[-1]

'o'

In [8]:
"one"
"two"

'two'

In [9]:
print("one")
print("two")

one
two

In [10]:
print("hello \n world")

hello
 world

In [11]:
len("Hello World")

11

In [12]:
mystring = "My name is Anthony"

In [13]:
len(mystring)

18

In [15]:
mystring[0]

'M'

In [17]:
mystring[11]

'A'

In [18]:
mystring[2:]

' name is Anthony'

In [19]:
mystring[3:]

'name is Anthony'

In [20]:
mystring[:3]

'My '

In [21]:
mystring[:6]

'My nam'

In [22]:
mystring[3:6]

'nam'

<font color = 'red'> Step Size <font>

In [23]:
mystring[::1]

'My name is Anthony'

In [24]:
mystring[::2]

'M aei nhn'

In [26]:
mystring[3:17:1]

'name is Anthon'

In [27]:
mystring[3:17:2]

'nm sAto'

<font color = 'red'> Reversing a String <font>

In [28]:
mystring[::-1]

'ynohtnA si eman yM'

## Print Formatting with Strings

In [30]:
myname = "Gaurav"
print("Hello my name is " + myname)

Hello my name is Gaurav

In [31]:
print('This is a string{}'.format("  Inserted here"))

This is a string  Inserted here

In [32]:
print("abcd{}".format("efgh"))

abcdefgh