<font size = 8> Tuple Unpacking with Functions

### Using FOR Loop

In [3]:
stock_prices = [('APPL', 200), ('GOOG', 400), ('MSFT', 100)]

In [4]:
for item in stock_prices:
    print(item)

('APPL', 200)
('GOOG', 400)
('MSFT', 100)

In [6]:
# Unpack the tuple and get only the ticker

In [7]:
for ticker, price in stock_prices:
    print(ticker)

APPL
GOOG
MSFT

In [9]:
for ticker, price in stock_prices:
    print(0.1*price)

20.0
40.0
10.0

In [10]:
# this gives us a 10% increase scenario

***

### Using Functions

In [17]:
work_hours = [('Abby', 100), ('Billy', 4000), ('Cassie', 800)]

<font color = red> Who is the employee of the month?

In [18]:
# return not just the employee name but also the number of hours worked

In [19]:
def employee_check(work_hours):
    #placeholder variable
    # both these values are reset every time there is a condition that 
                 # is more than the stored value
    current_max = 0
    employee_of_month = ''
    
    for employee,hours in work_hours:
        if hours > current_max:
            current_max = hours
            employee_of_month = employee
        else:
            pass
        
    #Return
    return (employee_of_month, current_max)

In [20]:
employee_check(work_hours)

('Billy', 4000)

In [21]:
result = employee_check(work_hours)

In [22]:
result

('Billy', 4000)

In [23]:
# unpack the tuple for the result as well

In [24]:
name,hours = employee_check(work_hours)

In [25]:
name

'Billy'

In [26]:
hours

4000

<font color = red> common error with unpacking values that don't exist

In [27]:
name, hours, location = employee_check(work_hours)

ValueError: not enough values to unpack (expected 3, got 2)

In [28]:
# expected 3, got 2

In [32]:
# the easiest way to handle these errors is to assign the entire output to a single item
# and then explore the item

In [33]:
singleitem = employee_check(work_hours)

In [34]:
singleitem

('Billy', 4000)